
.container {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr 1fr 0.1fr 0.7fr 3.3fr 0.5fr;
    grid-template-rows: 1fr 0.8fr 1.5fr 0.2fr 0.5fr 2fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .VIDEO { grid-area: 2 / 5 / 6 / 7; }
  
  .TEXTO { 
      position: absolute;
    PADDING-LEFT: 183PX;
    position: absolute;
    grid-area: 6 / 2 / 7 / 7;
    MARGIN-TOP: 295PX;
    margin-bottom: 40px;
}
  
  .TITULO {
    MARGIN-TOP: 100PX;
    PADDING-LEFT: 278PX;
      position: absolute;
       grid-area: 3 / 2 / 4 / 6; }

.provideo{
    margin-top: 6%;
    margin-left: 33px;
    grid-area: 2 / 5 / 6 / 7;
    width: 430px;
    height: 300px;
}


@media only screen and (max-width: 320px ){
  .LogoImg{
        
    margin: 1px 1px 1px 1px;
    width: 312px; }

    .menubar.navbar.navbar-expand.navbar-light {
        margin-left: -5px;
    }
    .NavImg {
        width: 150px;
        padding-left: 8%;
        height: 73px;
        margin-top: 6%;
    }
    .round-button.nav-link {
        /* margin-top: 12%; */
        font-family: 'Encode Sans SC', sans-serif;
        margin: 37px;
        color: white;
        text-decoration: none;
        font-size: 22px;
        display: table-header-group;
    }
    .mr-auto.navbar-nav {
        margin-top: 20px;
        font-size: 22px;
        margin-left: 51%;
    }
    .TITULO {
        MARGIN-TOP: -16PX;
        PADDING-LEFT: 39PX;
        position: absolute;
        /* grid-area: 3 / 2 / 4 / 6; */
    }
    .containerService{
display: table-row;
    }
    .CARD1 {
      margin-left: 8%;
      grid-area: CARD1;
      margin-top: 10%;
  }
  .CARD2 {
    margin-left: 8%;
    grid-area: CARD1;
    margin-top: 10%;
}
.CARD3 {
  margin-left: 8%;
  grid-area: CARD1;
  margin-top: 10%;
}
.card-img-top {
  padding-left: 39px;
  width: 200px;
  height: 150px;
}
h2 {
  margin-left: 22%;
  margin-top: 5px;
  text-align: left;
  margin-right: 10px;
}

.Card.Text{
  text-align: left;
  font-size: 16px;
  padding-right: -24%;
  margin-left: 21%;
  margin-right: -115%;
}
.CARD3TIT{
  margin-left: 9%;
}
.Clooosebtn {
  margin-left: 248PX;
}
iframe{
  
    WIDTH: 200PX;
    HEIGHT: 200PX;
    MARGIN-LEFT: 51%;
}
.CONTACTFORM {
  margin-top: 18%;
  grid-area: CONTACTFORM;
  margin-left: -142%;
}
#formMail {
  width: 276px;
  height: 27px;
}
#formBasicName{
  width: 200px;
  height: 27px;
}



}
