
.introback{
    background-color: black;
}
.LogoImg{
    margin: 50px 50px 40px 350px;
}

@media screen and (max-width:1024px){
    .link{
        
    margin-left: -75px;

    }

}
@media screen and (max-width:768px){
    .link{
        margin-left: -207px;
    }
}

@media screen and (max-width:425px){
    .link{
        margin: -5px 21px 40px 299px;
        width: 251px;
        height: 269px;
    }
   
    
}