
.introback{
    background-color: black;
}
.LogoImg{
    margin: 50px 50px 40px 350px;
}

@media only screen and (max-width: 1440px ){
    .LogoImg{
        margin: 50px 50px 40px 415px;
    }
};

@media only screen and (max-width: 768px ){
    .LogoImg{
        width: 300px;
        height: 300px;
        margin: 50px 50px 50px 224px;
    }
};

@media only screen and (max-width: 425px ){
    .LogoImg{
        
    width: 350px;
    height: 350px;
    margin: 50px 50px 50px 61px;
    }
};

@media only screen and (max-width: 320px ){
    .LogoImg{
        
    width: 250px;
    height: 250px;
    margin: 50px 50px 50px 61px;
    }
};